* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.slider {
  height: 48.6%;
  width: 40.1%;
  background-color: rgb(67, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__wrapper-image {
  margin-top: 3%;
  width: 77%;
  overflow: hidden;
  display: flex;
}

.slider__wrapper-image > img {
  transition: transform 0.3s;
}

.slider__img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  flex-shrink: 0;
}

.slider__wrapper-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 77%;
  margin: 5% 0;
}

.control {
  display: flex;
  margin-right: 17%;
}

.control__wrapper {
  display: flex;
  padding: 10%;
  cursor: pointer;
}

.control__button {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 0.15em solid rgb(163, 163, 204);
  border-radius: 50%;
  background-color: rgb(163, 163, 204);
}

.control__wrapper:hover .control__button {
  background-color: #fff;
  border-color: #fff;
}

.control__wrapper:active .control__button {
  background-color: transparent;
  border-color: #fff;
}

#img-1:checked ~ .slider__wrapper-block > .control .control__wrapper:nth-child(1) .control__button,
#img-2:checked ~ .slider__wrapper-block > .control .control__wrapper:nth-child(2) .control__button,
#img-3:checked ~ .slider__wrapper-block > .control .control__wrapper:nth-child(3) .control__button,
#img-4:checked ~ .slider__wrapper-block > .control .control__wrapper:nth-child(4) .control__button {
  background-color: transparent; 
  border-color: rgb(163, 163, 204);
}

.wrapper-meme-text {
  display: flex;
  overflow: hidden;
  width: 70%;
  transition: transform 0.3s;
}

.wrapper-meme-text > .meme-text {
  transition: transform 0.3s;
}

.meme-text {
  width: 100%;
  display: flex;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 80%;
  flex-shrink: 0;
  z-index: 1;
  opacity: 0;
}

/* css slider core */

#img-1:checked ~ .slider .slider__wrapper-image {
  transform: translateX(0%);
} 

#img-2:checked ~ .slider__wrapper-image > img  {
  transform: translateX(-100%);
}

#img-3:checked ~ .slider__wrapper-image > img {
  transform: translateX(-200%);
}

#img-4:checked ~ .slider__wrapper-image > img  {
  transform: translateX(-300%);
} 

#img-1:checked ~ .slider__wrapper-block .wrapper-meme-text > .meme-text-1 {
  transform: translateX(0%);
  z-index: 5; 
  opacity: 1;
  overflow: visible;

}

#img-2:checked ~ .slider__wrapper-block .wrapper-meme-text > .meme-text-2 {
  transform: translateX(-100%);
  z-index: 5; 
  opacity: 1;
}

#img-3:checked ~ .slider__wrapper-block .wrapper-meme-text > .meme-text-3 {
  transform: translateX(-200%);
  z-index: 5; 
  opacity: 1;
}

#img-4:checked ~ .slider__wrapper-block .wrapper-meme-text > .meme-text-4 {
  transform: translateX(-300%);
  z-index: 5; 
  opacity: 1;
}

/* mobile version */

@media screen and (max-width: 768px) {
  .slider {
    height: 55%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider__wrapper-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 77%;
    height: 25%;
    margin: 3% 0;
  }
  
  .control {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .control__wrapper {
    display: flex;
    
    padding: 5%;
    cursor: pointer;
  }
  
  .control__button {
    width: .9rem;
    height: .9rem;
    background-color: transparent;
    border: 0.15em solid rgb(163, 163, 204);
    border-radius: 50%;
    background-color: rgb(163, 163, 204);
  }

  .wrapper-meme-text {
    margin-top: 3%;
  }

  .meme-text {
    width: 100%;
    display: flex;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 65%;
    flex-shrink: 0;
  }
}