* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  height: 550px;
  width: 750px;
  background-color: rgb(67, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider__wrapper-image {
  width: 600px;
  overflow: hidden;
  display: flex;

}

.wrapper__img {
  width: 600px;
  height: 350px;
  border-radius: 3%;
}

.slider__wrapper-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 750px;
  margin-top: 5%;
}

.control {
  display: flex;
}

.control__button {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 1px solid rgb(163, 163, 204);
  border-radius: 50%;
}

.wrapper-meme-text {
  width: 350px;
  display: flex;

}

.wrapper-meme-text__slider {

  display: flex;
  flex-direction: row;

}

.meme-text {
  width: 300px;
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 110%;
}